
#container{
    margin: 0 auto;
    box-sizing: border-box;
}

img{
    width: 100%;
    position: relative;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}

.skin-up{
    border-radius: 50%;
    font-size: 2rem;
    border: none;
    padding: 5px 15px;
    background-color: rgba(128, 128, 128, 0.63);
    position: absolute;
    top: 1%;
    left: 50%;
}

.skin-down{
    border-radius: 50%;
    font-size: 2rem;
    border: none;
    padding: 5px 15px;
    background-color: rgba(128, 128, 128, 0.63);
    position: absolute;
    left: 50%;
    bottom: 28%;
}

.skin-down:hover{
    cursor: pointer;
    background-color: greenyellow;
}

.skin-up:hover {
    cursor: pointer;
    background-color: greenyellow;
}

